extends ../admin/layoutAdmin.jade
block content

    a.addNew(href='/api/projects') Back to Projects
    
    form.form(method='post' enctype="multipart/form-data" action=(project.title ? '/api/projects/edit/#{project.projectId}' : '/api/projects'))
      
      h1 ADD/EDIT PROJECT
      
      fieldset
      
        label(for='title') Project title:
        input(type='text' id='title' name='title' value=(project.title ? project.title : ''))
        
        label(for='description') Description:
        input(type='text' id='description' name='description' value=(project.description ? project.description : ''))
        
        label(for='authors') Authors:
        input(type='text' id='authors' name='authors' value=(project.authors ? project.authors : ''))
        
        label(for='category') Category:
        select(name='categoryId')
          for category in categories
            - if (category.id === project.categoryId)  
              option(value='#{category.id}' selected) #{category.name}  
            - else 
              option(value='#{category.id}') #{category.name}  
      
      - if (images)
        .container
          for image in images
            .photo 
              img(src='#{image.image}')
              .photo-overlay 
                p #{image.image}
                a.delete(href='' onclick='') Delete
              
      fieldset
      
        label Add images:
        input(type='file' name='image' multiple)
      
      button.addNew(type='submit' name='submit' onclick='ifEmpty()') OK
      
      
