extends ../layout.jade
block content
    
    
    a.addNew(href='/api/projects/new') Add New Project
    .container
      for project in projects
        .photo(id='#{project.projectId}')
          //- a(href='/project/#{project.projectId}')
          img(src='#{project.image}', alt='#{project.description}')
          .photo-overlay 
            h3 #{project.title}
            a.edit(href='/api/projects/edit/#{project.projectId}') Edit
            a.delete(href='#' onclick="confirmDelete(#{project.projectId})") Delete
